<app-header (hrefID)="ScrollToSelectedPosition($event)"></app-header>

<section id="section1">
  <div style="height: 400px; background-color: #ff391e">
    <p class="text-center">Component 1</p>
  </div>
</section>

<section id="section2">
  <div style="height: 400px; background-color: #919aa3">
    <p class="text-center">Component 2</p>
  </div>
</section>

<section id="section3">
  <div style="height: 400px; background-color: #ff391e">
    <p class="text-center">Component 3</p>
  </div>
</section>

<app-client-footer></app-client-footer>
