<!--Top Bar-->
<mat-toolbar class="primaryBgColor">
    <button class="btn btn-dark" (click)="sidenav?.toggle()"><i class="fas fa-bars"></i></button>
    <h1 class="primaryTextColor pl-2">Website Name</h1>
</mat-toolbar>

<!--Sidenav-->
<mat-sidenav-container class="sidenav-container" autosize>
    <!--Side Navigation-->
    <mat-sidenav #sidenav class="secondarBgColor" mode="over" opened="false">
        <div class="row p-2">
            <div class="col d-flex justify-content-center">
                <img [src]="imageSrc" class="rounded" alt="Cinque Terre" width="180px">
            </div>
        </div>

        <div class="row justify-content-center">
            <a title="Profile edit" (click)="profileEditModal(EditModal)">
                <i class="fas fa-user-cog theme-icon-secondary"></i>
            </a>
            <a title="Logout" (click)="SignOutModal(logoutModal)">
                <i class="fas fa-sign-out-alt theme-icon-secondary"></i>
            </a>
        </div>

        <mat-nav-list>
            <!-- Management -->
            <mat-list-item class="sidenav-link" [routerLink]="[{ outlets: { dashboard_menu: ['management'] } }]" (click)="sidenav.toggle()">
              <i class="fas fa-home theme-icon-secondary"></i>
              <span class="secondaryTextColor">Management</span>
            </mat-list-item>

            <!--Main Menu 1-->
            <mat-list-item class="sidenav-link" [routerLink]="[{ outlets: { dashboard_menu: ['menu1'] } }]" (click)="sidenav.toggle()">
                <i class="fas fa-home theme-icon-secondary"></i>
                <span class="secondaryTextColor">Test Menu 1</span>
            </mat-list-item>

            <!--Main Menu 2-->
            <mat-list-item class="sidenav-link" [routerLink]="[{ outlets: { dashboard_menu: ['menu2'] } }]" (click)="sidenav.toggle()">
                <i class="fas fa-home theme-icon-secondary"></i>
                <span class="secondaryTextColor">Test Menu 2</span>
            </mat-list-item>

            <!--Main Menu 3-->
            <mat-list-item (click)="showSubmenu = !showSubmenu">
                <i class="fas fa-home theme-icon-secondary"></i>
                <span class="full-width secondaryTextColor">Test Menu 3</span>
                <i class="fas fa-chevron-down theme-icon-secondary" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing"></i>
            </mat-list-item>

            <!--Sub Menu 1 for Main Menu 3-->
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <a class="secondaryTextColor" mat-list-item>Submenu Item 1</a>
                <a class="secondaryTextColor" mat-list-item>Submenu Item 2</a>

                <!--Nested Menu 1-->
                <mat-list-item (click)="showSubSubMenu = !showSubSubMenu">
                    <span class="full-width secondaryTextColor" *ngIf="isExpanded || isShowing">Nested Menu</span>
                    <i class="fas fa-chevron-down theme-icon-secondary" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing"></i>
                </mat-list-item>

                <!--Nested Menu 2-->
                <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                    <mat-list-item class="secondaryTextColor">SubSubmenu Item 1</mat-list-item>
                    <mat-list-item class="secondaryTextColor">SubSubmenu Item 2</mat-list-item>
                    <mat-list-item class="secondaryTextColor">SubSubmenu Item 3</mat-list-item>
                    <mat-list-item class="secondaryTextColor">SubSubmenu Item 4</mat-list-item>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <!--Admin Body-->
    <div class="example-sidenav-content">
        <router-outlet name='dashboard_menu'></router-outlet>
    </div>

</mat-sidenav-container>

<!--Footer-->
<app-footer></app-footer>

<!--Logout Modal-->
<ng-template #logoutModal let-modal>
    <div class="modal-header">
        <h1 class="secondaryTextColor"><b>Logout</b></h1>
    </div>

    <div class="modal-body justify-content-center">
        <div class="row justify-content-center">
            <h2 class="secondaryTextColor"><b>Are you sure want to Logout ?</b></h2>
        </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn theme-btn-cancel" (click)="modal.close('Cross click')">Cancel</button>
        <button type="button" class="btn theme-btn" (click)="Signout()">Logout</button>
    </div>
</ng-template>

<!--Profile Change Modal-->
<ng-template #EditModal let-modal>
    <div class="modal-header">
        <h1 class="pt-2">{{profileHeader}}</h1>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" [class]="isProfile ? 'active bg-dark': 'text-dark' " style="cursor: pointer" (click)="Profile()" aria-current="page">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class]="isPassword ? 'active bg-dark': 'text-dark' " style="cursor: pointer" (click)="Password()" aria-current="page">Password</a>
            </li>
        </ul>
    </div>

    <!--Profile Info-->
    <div class="row">
        <div class="container">
            <div *ngIf="isProfile" class="modal-body justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class=" col-lg-12">
                        <form [formGroup]="profileEditForm">
                            <div class="row box justify-content-center mb-5">
                                <div class="col-8 align-self-center">
                                    <div>
                                        <h5 class="text-center secondaryTextColor">Drop files here or click to upload.</h5>
                                    </div>
                                    <div class="fallback">
                                        <input formControlName="file" style="cursor: pointer" id="file" type="file" class="text-center box" (change)="onFileChange($event)">
                                        <img class="imageBox rounded mx-auto d-block" [src]="imageSrc" *ngIf="imageSrc">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--Name-->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="row px-3">
                                            <label class="mb-1"><h5 class="secondaryTextColor">Name</h5></label>
                                            <input class="mb-4" type="text" name="name" placeholder="Enter a Name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.firstName.errors }">
                                            <div *ngIf="submitted && profileFormControl.firstName.errors" class="invalid-feedback">
                                                <div *ngIf="profileFormControl.firstName.errors.required">Name is required</div>
                                                <div *ngIf="profileFormControl.firstName.errors.emptySpace">Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Gender -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="row px-3">
                                            <label class="mb-1"><h5 class="secondaryTextColor">Gender</h5></label>
                                            <select class="mb-4" type="text" name="gender" placeholder="Select a gender" formControlName="gender" class="form-control" (change)="ChangeDropDownValue(gender, $event)" [ngClass]="{ 'is-invalid': submitted && profileFormControl.gender.errors }">
                                              <option value="" disabled>Choose your Gender</option>
                                              <option *ngFor="let gender of Gender" [ngValue]="gender">{{gender}}</option>
                                            </select>
                                            <div *ngIf="submitted && profileFormControl.gender.errors" class="invalid-feedback">
                                                <div *ngIf="profileFormControl.gender.errors.required">Gender is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Email -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="row px-3">
                                            <label class="mb-1"><h5 class="secondaryTextColor">Email Address</h5></label>
                                            <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.email.errors }">
                                            <div *ngIf="submitted && profileFormControl.email.errors" class="invalid-feedback">
                                                <div *ngIf="profileFormControl.email.errors.required">Email is required</div>
                                                <div *ngIf="profileFormControl.email.errors.email">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Phone-->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="user-box">
                                            <label class="primaryFont"><h5 class="secondaryTextColor">Contact Number</h5></label>
                                            <input type="text" name="phone" class="primaryFont" placeholder="Enter Phone Number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.phone.errors }">

                                            <div *ngIf="submitted && profileFormControl.phone.errors" class="invalid-feedback text-danger">
                                                <div *ngIf="profileFormControl.phone.errors.required">Contact number is required</div>
                                                <div *ngIf="profileFormControl.phone.errors.mustMatchPattern">Contact number is Invalid</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Password Info-->
            <div *ngIf="isPassword" class="modal-body justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class=" col-lg-12">
                        <form [formGroup]="passwordEditForm">
                          <!-- Password -->
                          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="form-group">
                              <label class="mb-1"><h2 class="secondaryTextColor">New Password</h2></label>
                              <div class="input-group">
                                <input class="form-control"
                                       type="password" name="password"
                                       placeholder="Enter a password"
                                       formControlName="password"
                                       [type]="fieldTextType ? 'text' : 'password'"
                                       [ngClass]="{ 'is-invalid': submitted && passwordFormControl.password.errors }">
                                <div class="input-group-append inputGroupAppend">
                                <span class="input-group-text">
                                  <i class="fa"
                                     style="cursor: pointer"
                                     [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"
                                     (click)="toggleFieldTextType()"></i>
                                </span>
                                </div>
                                <div *ngIf="submitted && passwordFormControl.password.errors" class="invalid-feedback">
                                  <div *ngIf="passwordFormControl.password.errors.required">Password is required</div>
                                  <div *ngIf="passwordFormControl.password.errors.minlength">Password must be at least 6
                                    characters
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Confirm Password-->
                          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="form-group">
                              <label class="mb-1"><h2 class="secondaryTextColor">Confirm Password</h2></label>
                              <div class="input-group">
                                <input class="form-control"
                                       formControlName="confirmPassword"
                                       [type]="confirmPasswordType ? 'text' : 'password'"
                                       [ngClass]="{ 'is-invalid': submitted && passwordFormControl.confirmPassword.errors }"
                                       type="password" name="password" placeholder="Confirm Password">
                                <div class="input-group-append inputGroupAppend">
                        <span class="input-group-text">
                          <i class="fa" style="cursor: pointer"
                             [ngClass]="{'fa-eye-slash': !confirmPasswordType,'fa-eye': confirmPasswordType}"
                             (click)="toggleConfirmPasswordType()"></i>
                        </span>
                                </div>
                                <div *ngIf="submitted && passwordFormControl.confirmPassword.errors" class="invalid-feedback">
                                  <div *ngIf="passwordFormControl.confirmPassword.errors.required">Confirm Password is required
                                  </div>
                                  <div *ngIf="passwordFormControl.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn theme-btn-cancel" (click)="modal.close('Cross click')">Cancel</button>
        <button *ngIf="isProfile" type="submit" class="btn theme-btn" (click)="onProfileSubmit()">Update</button>
        <button *ngIf="isPassword" type="submit" class="btn theme-btn" (click)="onPasswordSubmit()">Update</button>
    </div>
</ng-template>
