<div class="container-fluid fixed-bottom" style="padding-left:0; padding-bottom: 0; margin-bottom: 0; padding-right: 0">
  <footer>
    <div class="primaryBgColor">
      <h5 class="text-light ami" style="margin: 0px; text-align: center; padding: 3px">
        Developed By <a [href]="amiTechMail" style="color: white;">AmiTech Software
        Solution</a> - {{amiTechContact}}
      </h5>
      <h5 class="text-light" style="margin: 0px; text-align: center; padding: 3px">{{copyRights}} - &copy; {{GetCurrentYear()}}</h5>
    </div>
  </footer>
</div>
