<div class="container">
  <h1 class="d-flex justify-content-center pt-2 primaryFont">Management</h1>
  <!--Modal Box Section-->
  <div class="row mt-5 mb-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
      <button class="btn theme-btn" (click)="CreateUserModal(createUserModal)">Create User</button>
    </div>
  </div>
  <!--Table Section-->
  <div class="row mt-5 mb-5">
    <table class="table">
      <tr>
        <th>Admin Id</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Role</th>
        <th *ngIf="userRole=='ADMIN'">Edit</th>
        <th *ngIf="userRole=='ADMIN'">Remove</th>
      </tr>
      <tbody>
      <tr *ngFor="let user of User">
        <td scope='row'>{{user.adminId}}</td>
        <td scope='row'>{{user.name}}</td>
        <td scope='row'>{{user.email}}</td>
        <td scope='row'>{{user.role}}</td>
        <td *ngIf="userRole=='ADMIN'">
          <a (click)="EditUserModal(editUserModal,user.adminId)"
             class="btn waves-effect waves-float waves-green">
            <i class="fas fa-binoculars theme-icon-secondary"></i>
          </a>
        </td>
        <td *ngIf="userRole=='ADMIN'">
          <a (click)="DeleteUserModal(deleteUserModal, user.adminId)"
             class="btn btn-default waves-effect waves-float waves-red">
            <i class="fas fa-trash theme-icon-secondary"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row" style="padding-bottom: 150px;"></div>
</div>

<!--User Create Modal-->
<ng-template #createUserModal let-modal>
  <!--Header-->
  <div class="modal-header">
    <h2 class="modal-title">Delete Vendor </h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <!--Body-->
  <div class="modal-body justify-content-center">
    <div class="row justify-content-center">
      <form [formGroup]="profileCreateForm">
            <div class="row box justify-content-center mb-5">
              <div class="col-8 align-self-center">
                <div>
                  <h5 class="text-center secondaryTextColor">Drop files here or click to upload.</h5>
                </div>
                <div class="row mb-2 justify-content-center">
                  <input style="cursor: pointer" type="file" class="text-center bg-secondary" (change)="onFileChange($event)">
                </div>
                <!-- Todo: Remove image pending-->
                <form action="/destroyImage" method="POST" *ngIf="imageSrc">
                  <div>
                    <button type="submit" class="close" (click)="imageCloseClick()">
                      <span>&times;</span>
                    </button>
                    <img class="imageBox rounded mx-auto d-block" [src]="imageSrc" >
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <!--Name-->
              <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="form-group">
                  <div class="row px-3">
                    <label class="mb-1"><h5 class="secondaryTextColor">Name</h5></label>
                    <input class="mb-4" type="text" name="name" placeholder="Enter a Name" formControlName="firstName" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && profileFormControl.firstName.errors }">
                    <div *ngIf="submitted && profileFormControl.firstName.errors" class="invalid-feedback">
                      <div *ngIf="profileFormControl.firstName.errors.required">Name is required</div>
                      <div *ngIf="profileFormControl.firstName.errors.emptySpace">Name is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Gender -->
              <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="form-group">
                  <div class="row px-3">
                    <label class="mb-1"><h5 class="secondaryTextColor">Gender</h5></label>
                    <select class="mb-4" type="text" name="gender" placeholder="Select a gender" formControlName="gender" class="form-control"
                            (change)="ChangeDropDownValue(gender, $event)" [ngClass]="{ 'is-invalid': submitted && profileFormControl.gender.errors }">
                      <option value="" disabled>Choose your Gender</option>
                      <option *ngFor="let gender of Gender" [ngValue]="gender">{{gender}}</option>
                    </select>
                    <div *ngIf="submitted && profileFormControl.gender.errors" class="invalid-feedback">
                      <div *ngIf="profileFormControl.gender.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Role-->
              <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="form-group">
                  <div class="row px-3">
                    <label class="mb-1"><h5 class="secondaryTextColor">Role</h5></label>
                    <select class="mb-4" type="text" name="role" placeholder="Select a Role" formControlName="role" class="form-control"
                            (change)="ChangeDropDownValue(role, $event)" [ngClass]="{ 'is-invalid': submitted && profileFormControl.gender.errors }">
                      <option value="" disabled>Choose your Role</option>
                      <option *ngFor="let role of Role" [ngValue]="role">{{role}}</option>
                    </select>
                    <div *ngIf="submitted && profileFormControl.gender.errors" class="invalid-feedback">
                      <div *ngIf="profileFormControl.gender.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Email -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <div class="row px-3">
                    <label class="mb-1"><h5 class="secondaryTextColor">Email Address</h5></label>
                    <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address" formControlName="email" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && profileFormControl.email.errors }">
                    <div *ngIf="submitted && profileFormControl.email.errors" class="invalid-feedback">
                      <div *ngIf="profileFormControl.email.errors.required">Email is required</div>
                      <div *ngIf="profileFormControl.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Phone-->
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <div class="user-box">
                    <label class="primaryFont"><h5 class="secondaryTextColor">Contact Number</h5></label>
                    <input type="text" name="phone" class="primaryFont" placeholder="Enter Phone Number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.phone.errors }">

                    <div *ngIf="submitted && profileFormControl.phone.errors" class="invalid-feedback text-danger">
                      <div *ngIf="profileFormControl.phone.errors.required">Contact number is required</div>
                      <div *ngIf="profileFormControl.phone.errors.mustMatchPattern">Contact number is Invalid</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Password -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label class="mb-1"><h5 class="secondaryTextColor">New Password</h5></label>
                  <div class="input-group">
                    <input class="form-control"
                           type="password" name="password"
                           placeholder="Enter a password"
                           formControlName="password"
                           [type]="fieldTextType ? 'text' : 'password'"
                           [ngClass]="{ 'is-invalid': submitted && profileFormControl.password.errors }">
                    <div class="input-group-append inputGroupAppend">
                                <span class="input-group-text">
                                  <i class="fa"
                                     style="cursor: pointer"
                                     [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"
                                     (click)="toggleFieldTextType()"></i>
                                </span>
                    </div>
                    <div *ngIf="submitted && profileFormControl.password.errors" class="invalid-feedback">
                      <div *ngIf="profileFormControl.password.errors.required">Password is required</div>
                      <div *ngIf="profileFormControl.password.errors.minlength">Password must be at least 6
                        characters
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Confirm Password-->
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label class="mb-1"><h5 class="secondaryTextColor">Confirm Password</h5></label>
                  <div class="input-group">
                    <input class="form-control"
                           formControlName="confirmPassword"
                           [type]="confirmPasswordType ? 'text' : 'password'"
                           [ngClass]="{ 'is-invalid': submitted && profileFormControl.confirmPassword.errors }"
                           type="password" name="password" placeholder="Confirm Password">
                    <div class="input-group-append inputGroupAppend">
                        <span class="input-group-text">
                          <i class="fa" style="cursor: pointer"
                             [ngClass]="{'fa-eye-slash': !confirmPasswordType,'fa-eye': confirmPasswordType}"
                             (click)="toggleConfirmPasswordType()"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && profileFormControl.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="profileFormControl.confirmPassword.errors.required">Confirm Password is required
                      </div>
                      <div *ngIf="profileFormControl.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
    </div>
  </div>
  <!--Footer-->
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn theme-btn-cancel" (click)="modal.close('Cross click')">Cancel</button>
    <button type="submit" class="btn theme-btn" (click)="onProfileSubmit()">Create</button>
  </div>
</ng-template>
<!--User Edit Modal-->
<ng-template #editUserModal let-modal>
  <!--Header-->
  <div class="modal-header">
    <h2 class="modal-title">Edit User</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <!--Body-->
  <div class="modal-body justify-content-center">
        <div class="row d-flex justify-content-center">
          <div class=" col-lg-12">
            <form [formGroup]="profileCreateForm">
              <div class="row box justify-content-center mb-5">
                <div class="col-8 align-self-center">
                  <div>
                    <h5 class="text-center secondaryTextColor">Drop files here or click to upload.</h5>
                  </div>
                  <div class="fallback">
                    <input  style="cursor: pointer" id="file" type="file" class="text-center box" (change)="onFileChange($event)">
                    <img class="imageBox rounded mx-auto d-block" [src]="imageSrc" *ngIf="imageSrc">
                  </div>
                </div>
              </div>

              <div class="row">
                <!--Name-->
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div class="row px-3">
                      <label class="mb-1"><h5 class="secondaryTextColor">Name</h5></label>
                      <input class="mb-4" type="text" name="name" placeholder="Enter a Name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.firstName.errors }">
                      <div *ngIf="submitted && profileFormControl.firstName.errors" class="invalid-feedback">
                        <div *ngIf="profileFormControl.firstName.errors.required">Name is required</div>
                        <div *ngIf="profileFormControl.firstName.errors.emptySpace">Name is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Gender -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div class="row px-3">
                      <label class="mb-1"><h5 class="secondaryTextColor">Gender</h5></label>
                      <select class="mb-4" type="text" name="gender" placeholder="Select a gender" formControlName="gender" class="form-control" (change)="ChangeDropDownValue(gender, $event)" [ngClass]="{ 'is-invalid': submitted && profileFormControl.gender.errors }">
                        <option value="" disabled>Choose your Gender</option>
                        <option *ngFor="let gender of Gender" [ngValue]="gender">{{gender}}</option>
                      </select>
                      <div *ngIf="submitted && profileFormControl.gender.errors" class="invalid-feedback">
                        <div *ngIf="profileFormControl.gender.errors.required">Gender is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Email -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div class="row px-3">
                      <label class="mb-1"><h5 class="secondaryTextColor">Email Address</h5></label>
                      <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.email.errors }">
                      <div *ngIf="submitted && profileFormControl.email.errors" class="invalid-feedback">
                        <div *ngIf="profileFormControl.email.errors.required">Email is required</div>
                        <div *ngIf="profileFormControl.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Phone-->
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div class="user-box">
                      <label class="primaryFont"><h5 class="secondaryTextColor">Contact Number</h5></label>
                      <input type="text" name="phone" class="primaryFont" placeholder="Enter Phone Number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileFormControl.phone.errors }">

                      <div *ngIf="submitted && profileFormControl.phone.errors" class="invalid-feedback text-danger">
                        <div *ngIf="profileFormControl.phone.errors.required">Contact number is required</div>
                        <div *ngIf="profileFormControl.phone.errors.mustMatchPattern">Contact number is Invalid</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  <!--Footer-->
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn theme-btn-cancel" (click)="modal.close('Cross click')">Cancel</button>
    <button type="submit" class="btn theme-btn" (click)="onProfileSubmit()">Update</button>
  </div>
</ng-template>
<!-- Delete Modal -->
<ng-template #deleteUserModal let-modal>
  <!--Header-->
  <div class="modal-header">
    <h2 class="modal-title">Delete Vendor </h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <!--Body-->
  <div class="modal-body justify-content-center">
    <div class="row justify-content-center">
      <h4>Are you sure want to Delete Vendor?</h4>
    </div>
  </div>
  <!--Footer-->
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn theme-btn-cancel" (click)="modal.close('Cross click')">Cancel</button>
    <button type="button" class="btn theme-btn" (click)="DeleteUser">Confirm</button>
  </div>
</ng-template>

