<section class="menu navParent" once="menu" id="menu1-n">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg navBg" id="nav">
    <div class="container-fluid">
      <div class="navbar-brand">
        <span>User <b>Management</b></span>
      </div>

      <button class="displayCollapse" id="btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
              style="position: relative; top:30px; width: 60px; height: 60px; left: 49%">
        <span style="width: 30px"></span>
        <span style="width: 30px"></span>
        <span style="width: 30px"></span></button>

      <button class="displayCollapse" style="visibility: hidden"></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
          <button class="btn btn-light mr-2"><i class="fas fa-file-excel mr-1"></i>Export to Excel</button>
          <button class="btn btn-light mr-2"><i class="fas fa-plus mr-1"></i>Add New User</button>
        </ul>
      </div>
    </div>
  </nav>
</section>
